<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.Voiceless.App" version="0.2.0">
<author email="info@voiceless.ir" href="https://voiceless.ir">
        Voiceless Team
    </author>
<name>Vocieless</name>
<description>Official application for Voiceless.ir</description>
<platform name="ios">
    <preference name="iosPersistentFileLocation" value="Library" />
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
        <string>to take pictures/scan barcodes</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
        <string>to get pictures</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>need location access to find things nearby</string>
    </edit-config>
</platform>
<platform name="android">
<preference name="AndroidPersistentFileLocation" value="Internal" />
    <plugin name="cordova-android-support-gradle-release" spec="3.0.1">
        <variable name="ANDROID_SUPPORT_VERSION" value="28.0.0"/>
    </plugin>
</platform>
<platform name="windows">
    <preference name="windows-appx-target" value="uap" />
    <preference name="windows-target-version" value="10.0" />
    <preference name="windows-arch" value="anycpu" />
    <preference name="WindowsDefaultUriPrefix" value="ms-appx-web://" />
    <preference name="WindowsToastCapable" value="true" />
</platform>
<preference name="phonegap-version" value="cli-9.0.0" />
<preference name="StatusBarOverlaysWebView" value="false" />
<preference name="fullscreen" value="false" />
<preference name="LoadUrlTimeoutValue" value="70000" />
<preference value="none" name="permissions"/>
<plugin name="cordova-plugin-file" spec="6.0.2" />
<plugin name="cordova-plugin-file-md5" spec="0.3.3" />
<plugin name="cordova-plugin-file-transfer" spec="1.7.1" />
<plugin name="cordova-plugin-media-capture" spec="3.0.3" />
<plugin name="cordova-plugin-network-information" spec="2.0.2" />
<plugin name="cordova-plugin-statusbar" spec="2.4.3" />
<plugin name="cordova-plugin-whitelist" spec="1.3.4" />
<plugin name="cordova-plugin-x-toast" spec="2.7.2" />
    <allow-intent target="_blank" href="http://*/*"/>
    <allow-intent target="_blank" href="https://*/*"/>
    <allow-navigation href="https://voiceless.com/*" />
    <allow-navigation href="https://voiceless.ir/edd-api/v2/products/" />
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <access origin="*" subdomains="true" />
</widget>
